
body {
    margin: 0;
    font-family: roboto;
}
.header-container {
    display: flex;
    background-color: #1F2937;
    box-sizing: border-box;
    color: white;

}

.header {
    flex: 1;
    padding: 20px;
    font-size: 25px;
}

.links {
    justify-content: flex-end;
    align-content: center;
    padding-right: 20px;
}

.container {
    height: 100vh;
    padding: 16px;
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 3vh;
  }
  
  .item {
    width: 80vh;
    height: auto;
    background: #1F2937;
  }
  
  .title {
     font-size: 6vh;
     font-weight: bolder ;
     color:  #F9FAF8;

  }

  .text {
    font-size: 3vh;
    color: #E5E7EB;

 }

 .button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
 }

