
body {
    margin: 0;
    font-family: roboto;
}
.header-container {
    display: flex;
    background-color: #1F2937;
    box-sizing: border-box;
    color: white;

}

.header {
    flex: 1;
    padding: 20px;
    font-size: 25px;
}

.links {
    justify-content: flex-end;
    align-content: center;
    padding-right: 20px;
}

.container {
    height: 100vh;
    padding: 16px;
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 3vh;
  }
  
  .item {
    width: 80vh;
    height: auto;
    background: #1F2937;
  }
  
  .title {
     font-size: 6vh;
     font-weight: bolder ;
     color:  #F9FAF8;

  }

  .title-two {
    font-size: 6vh;
    font-weight: bolder ;
    color:  #1F2937;

 }

  .text {
    font-size: 3vh;
    color: #E5E7EB;

 }

 .button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
 }

.container-two {
    height: 80vh;
    padding: 16px;
    background: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 3vh;
    flex-direction: column;
}

.sub-container {
    width: 170vh;
    padding: 16px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    font-size: 3vh;
    flex-direction: row;
}

.placeholder {
    background-color: #F9FAF8;
    border: solid 5px #3882F6;
    height: 180px;
    width: 180px;
    border-radius: 15px;
}

.placeholder-description {
    color: rgb(43, 43, 43);
    width: 190px;
    text-align: center;
    padding-top: 8px;
}

.box {
    height: auto;
    flex-direction: row;
}